@import '~antd/dist/antd.css';

.forgot-password-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #d3d3d3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-image: url("https://live.staticflickr.com/3110/3119729268_c135db16fc_b.jpg");
}

.card-style{
  width: 400px;
  opacity: 0.9;
}

.span-title{
  font-size: 28px;
  font-weight: bold;
}

.p-subtitle{
  font-size: 20px;
  font-weight: normal;
}

.input-username{
  margin-top: 0px;
  margin-bottom: 20px;
}

.p-logintoAccount{
  text-align: center;
  color: gray;
  margin-top: 10px;
  cursor: pointer;
}